<h1>problems index page</h1>
<% @problems.each do |problem| %>
<p> Title: <%= problem.title %> </p>
<p> Body: <%= problem.body %> </p>
<%= link_to 'Edit', edit_problem_path(problem.id) %>
<%= link_to 'Delete', problem_path(problem.id), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<%= link_to 'Create New', new_problem_path %>