<%# <h1> New Solution Page </h1> %>
<%= render 'shared/nav' %>
<%= render 'shared/solutions' %>

<div class="container">
<%= form_with scope: :solution, url: problem_solutions_path, method: 'post', local: true do |f| %>
<p> Title: <%= f.text_field :title %></p>
<p> Body: <%= f.text_area :body %></p>
<p> Solution: <%= f.file_field :image, accept: 'image/png, image/jpg, image/jpeg' %> </p>
<p> PDF: <%= f.file_field :document, accept: 'document/pdf' %></p>
<p> Cost: <%=f.number_field :price %>
<%= f.submit 'Suggest Solution' %>
<% end %>
</div>