<div class="row">
  <div class="col-md-6 offset-md-3 text-right">
    <%= form_with scope: :solution, url: problem_solutions_path, method: 'post', local: true do |f| %>
  <div class="card" id="solution-card">
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= f.text_area :body, size: '65', placeholder: 'Enter your solution for the challenge here...' %>
  </div>
  </div>
  <div class="col-md-3">
    <p> Please upload an image to help others visualise your solution </p>
    <%= f.file_field :image, accept: 'image/png, image/jpg, image/jpeg' %>
    <p> If you would like to upload and list an Instructional PDF for sale, please do so below</p>
    <p> <%= f.file_field :document, accept: 'document/pdf' %> </p>
    <p> Cost: $ <%=f.number_field :price %></p>
    <p class="text-center"> <%= f.submit 'Suggest Solution' %> </p>
    <% end %>
  </div>
</div>
