<h1> Solution for</h1>

<div class="row row-cols-2">
  <h3>Title: <%= @solution.title %></h3>
  <% if @solution.image.attached? %>
  <%= image_tag @solution.image %>
  <% else %> 
  <p> "No image attached" </p>
  <% end %>
  <h3>Description: <%= @solution.body %></h3>
  <% if @solution.document.attached? %>
  <p> "PDF available to purchase for <%=@solution.price%></p>
  <% else %> 
  <p> "No PDF available" </p>
  <% end %>

</div>
<button data-stripe="payment"> Purchase Instructional PDF <%= number_to_currency(@solution.price)%></button>
<%= link_to 'Back', problem_solutions_path %>
<script src="https://js.stripe.com/v3/"></script>

<script>
	document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
		const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
		stripe.redirectToCheckout({
			sessionId: "<%= @session_id %>"
		});
	});
</script>
