<!DOCTYPE html>
<html>
  <head>
    <title>Minliving</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="problem-body">
    <%= render 'shared/nav' %>
    <div class="container-fluid">
      <%= yield %>
      <h1 class="row fixed-bottom justify-content-end">Challenges</h1>
    </div>
  </body>
</html>
